---
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Growlity.ai - ESG Growth Intelligence" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/G-Icon.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script>
      import Lenis from 'lenis';

      const lenis = new Lenis({
        autoRaf: true,
      });
      
    </script>
  </body>
</html>
